<div class="container">
  #ADD ERRORS
  <form action="/trips/<%= @trip.id %>" method="post" class="create-destination">
    <input type="hidden" name="_method" value="PUT">

    <label for="trip[destination]" id="form-font">destination: </label>
    <input name="trip[destination]" class="form-input" type="text" value="<%= @trip.try(:destination) %>">

    <label for="trip[description]" id="form-font">description: </label>
    <input name="trip[description]" class="form-input" type="text" value="<%= @trip.try(:description) %>">

    <label for="trip[details]" id="form-font">details: </label>
    <textarea name="trip[details]" class="form-input" id="tall" type="text"><%= @trip.try(:details) %></textarea>

    <label for="trip[arrive]" id="form-font">arrive: </label>
    <input name="trip[arrive]" class="form-input" type="date" value="<%= @trip.try(:arrive) %>">

    <label for="trip[depart]" id="form-font">depart: </label>
    <input name="trip[depart]" class="form-input" type="date" value="<%= @trip.try(:depart) %>">
    <br>
    <input type="submit" id="form-login" value="update">
  </form>
</div>
