<% if current_user %>
  <h2> trips for <%= current_user.username %> </h2>
<% else  %>
  <h2> all trips </h2>
<% end %>

<div id="news-feed">
<% @trips.each do | trip | %>
  <div id="news-feed-row">

    <div id="news-feed-map">
      <iframe
        width="100%"
        height="250"
        frameborder="0" style="0"
        src="https://www.google.com/maps/embed/v1/place?q=<%=trip.destination%>&key=AIzaSyArrSJE3KI4QDn1LIPgn-e2xO-CWHrSkLQ" allowfullscreen>
      </iframe>
    </div>

    <div id="news-feed-info">
      <p id="destination"><a href="/trips/<%= trip.id %>" ><%= trip.destination %></p></a>
      <p id="description"><%= trip.description %></p>
        Depart <%= trip.arrive.strftime('%x') %> -
        Arrive <%= trip.depart.strftime('%x') %>
      <% if current_user && trip.host_id == current_user.id %>
        <a href="/trips/<%= trip.id %>/edit" id="news-feed-edit">edit</a>
        <form action="/trips/<%= trip.id %>" method="post" id="delete">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="delete" id="delete-button">
        </form>
      <% end %>
      </div>

    </div>
  <% end %>
</div>
