<h2> trips for matth3wjones </h2>

<div class="news-feed">
<% @trips.each do | trip | %>
<p id="destination"><a href="/destinations/<%= trip.id %>" ><%= trip.destination %></p></a>
<p id="description"><%= trip.description %></p>
Depart <%= trip.arrive.strftime('%x') %> -
Arrive <%= trip.depart.strftime('%x') %><br><br><br>
<% end %>
</div>
