<p id='destination'><%= @destination.destination %><br></p>
<p id='description'><%= @destination.description %><br></p>
<%= @destination.details %><br>
Depart <%= @destination.arrive.strftime('%x') %> -
Arrive <%= @destination.depart.strftime('%x') %>
