<div id="show">
<p id='destination'><%= @trip.destination %><br></p>
<p id='description'><%= @trip.description %><br></p>
<%= @trip.details %><br>
Depart <%= @trip.arrive.strftime('%x') %> -
Arrive <%= @trip.depart.strftime('%x') %>
</div>
