<div id="map">
<iframe
  width="100%"
  height="350"
  frameborder="0" style="0"
  src="https://www.google.com/maps/embed/v1/place?q=<%=@trip.destination%>&key=AIzaSyArrSJE3KI4QDn1LIPgn-e2xO-CWHrSkLQ" allowfullscreen>
</iframe>
</div>
<div id="show">
<p id='destination'><%= @trip.destination %></p>
<%= @trip.arrive.strftime('%A') %>, <%= @trip.arrive.strftime('%B') %> <%= @trip.arrive.strftime('%d') %>, <%= @trip.arrive.strftime('%Y') %> - <%= @trip.depart.strftime('%A') %>, <%= @trip.depart.strftime('%B') %> <%= @trip.depart.strftime('%d') %>, <%= @trip.depart.strftime('%Y')  %><br>
<p id='description'><%= @trip.description %><br></p>
<%= @trip.details %><br><br>

</div>
