<h2>Welcome <%= current_user.username%>, here are your trips</h2>

<div id="profile">
  <% @trips.each do |trip| %>
    <% if trip.host_id == current_user.id %>

      <div id="profile-tile">
        <a href="/trips/<%= trip.id %>" id="destination"><%= trip.destination %></a>
        <p id="description"><%= trip.description %></p>
        <a href="/trips/<%= trip.id %>/edit" id="edit">edit</a>
      </div>

    <% end %>
  <% end %>

  <div id="profile-tile">
    <a href="/trips/new" id="new">suggest new destination</a>
  </div>
</div>
